<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>

    <title>Rate</title>
</head>
<th:block layout:fragment="breadcrumb">
    <li class="breadcrumb-item">welcome! welcome!</li>
</th:block>

<div ng-app="demo" layout:fragment="page_content" id="page_content">
    <h3>Best Exchange Rate</h3>

    <div ng-controller="exchangeRate" >
        <table class="table table-bordered">
            <thead style="font-weight:bold">
            <tr>
                <td>Company</td>
                <td>Rate</td>
                <td>Location</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in moneyInfo" >
                <td>{{x.company}}</td>
                <td>{{x.rate}}</td>
                <td>{{x.location}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/}">Go to lunch</a>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        angular.module("demo", [])
            .controller("exchangeRate", function ($scope, $http) {
                $http.get('/sgdToCn/getAll').then(function (response) {
                    $scope.moneyInfo = response.data;
                }, function (err) {
                    console.error("Error occured: ", err);
                });
            });
    </script>
</th:block>