<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<th:block layout:fragment="breadcrumb">
    <h3>Lunch and Learn</h3>
</th:block>

<div layout:fragment="page_content" id="page_content">

    <table id="customerTable" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>IsVegetarian</th>
            <th>Number</th>
            <th>Mark</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lunchInfo, rowStat: ${lunchInfo}">
            <td th:text="${lunchInfo.name}"></td>
            <td th:text="${lunchInfo.vegetarian}"></td>
            <td th:text="${lunchInfo.number}"></td>
            <td th:text="${lunchInfo.mark}"></td>
            <td>
                <form method="get">
                    <a th:href="@{/deleteUser/{id}(id= ${lunchInfo.name})}" class="btn btn-danger">Delete</a>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block layout:fragment="scripts">
    <script type="text/javascript">
        // $(function () {
        //     // $("#js-content").html("From Javascript in page 2").slideToggle();
        //
        //     $("commit").click(function () {
        //             var obj = {
        //                 name: $("#userName").value,
        //                 vegetarian: $("#userVeg").value,
        //                 number: 1,
        //                 mark: $("#userMark")
        //             };
        //             var data = JSON.stringify(obj);
        //         $.ajax({
        //             type: "POST",
        //             url: url,
        //             data: data,
        //             success: success,
        //             dataType: dataType
        //         });
        //         }
        //     )
        // });

    </script>
</th:block>