<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<th:block layout:fragment="breadcrumb">
    <h3>Lunch and Learn</h3>
</th:block>

<div layout:fragment="page_content">

    <table id="customerTable" class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>IsVegetarian</th>
            <th>Number</th>
            <th>Mark</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lunchInfo, rowStat: ${lunchInfo}">

            <td th:text="${rowStat.index}+1"></td>
            <td th:text="${lunchInfo.name}"></td>
            <td th:text="${lunchInfo.vegetarian}? 'Y': 'N' "></td>
            <td th:text="${lunchInfo.number}"></td>
            <td th:text="${lunchInfo.mark}"></td>
            <td>
                <form method="get">
                    <th:block th:if="${lunchInfo.name}==${newUser.name}"><a
                            th:href="@{'/deleteUser/'+ ${ lunchInfo.name}+'/?data='+ ${userSetting.password} }"
                            class="btn btn-danger btn-sm">Delete</a></th:block>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/addUser}" method="post">
        <table th:object="${newUser}" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>IsVegetarian</th>
                <th>Mark</th>
                <th>New</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:value="${newUser.name}" th:field="*{name}" id="newName" readonly
                           class="form-control input-sm"/></td>
                <td>
                    <select th:field="*{vegetarian}" class="form-control input-sm">
                        <option th:value="false" th:text="N">N</option>
                        <option th:value="true" th:text="Y">Y</option>
                    </select>
                </td>
                <td><input type="text" th:field="*{mark}" class="form-control input-sm"/></td>

                <td>
                    <input id="addUser" type="submit" value="Update"
                           class="btn btn-success btn-sm"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        console.log('%c welcome to the osca underground home! https://caplearning.cfapps.io/bestRate', 'background: #221; color: #6190e8');
    </script>

    <script type="text/javascript">
        $("#addUser").onclick(function () {
                alert("hello");
            }
        )

    </script>

</th:block>